<pre><code class="language-php px-6 py-8 rounded-lg">&lt;?php
  require('textlocal.class.php');

  $Textlocal = new Textlocal(false, false, 'your apiKey');

  $numbers = array(<span x-show="country === 'gb'">447123456789, 447987654321</span><span x-show="country === 'ie'">35312345678, 35398765432</span><span x-show="country === 'es'">34987654321</span>);
  $sender = '<span x-show="country === 'gb'">Jims Auto</span><span x-show="country === 'ie'">Kilkenny Glass</span><span x-show="country === 'es'">Supermercado Alme&iacute;ra</span>';
  $message = '<span x-show="country === 'gb'">Your car is due for its MOT on Jan 30th. Please book in ASAP</span><span x-show="country === 'ie'">Your window fitting appointment is scheduled for 4pm with Colm</span><span x-show="country === 'es'">Javier entregar&aacute; tus compras a las 13:00 horas de hoy</span>.';

  $response = $textlocal-&gt;sendSms($numbers, $message, $sender);
  print_r($response);
?&gt;</code></pre>