<pre><code class="language-php px-6 py-8 rounded-lg">&lt;?php
  // Account details
  $apiKey = urlencode('Your apiKey');
  
  // Message details
  $numbers = array(<span x-show="country === 'gb'">447123456789, 447987654321</span><span x-show="country === 'ie'">35312345678, 35398765432</span><span x-show="country === 'es'">34987654321</span>);
  $sender = urlencode('<span x-show="country === 'gb'">Jims Auto</span><span x-show="country === 'ie'">Kilkenny Glass</span><span x-show="country === 'es'">Supermercado Alme&iacute;ra</span>');
  $message = rawurlencode('<span x-show="country === 'gb'">Your car is due for its MOT on Jan 30th. Please book in ASAP</span><span x-show="country === 'ie'">Your window fitting appointment is scheduled for 4pm with Colm</span><span x-show="country === 'es'">Javier entregar&aacute; tus compras a las 13:00 horas de hoy</span>.');
  
  $numbers = implode(',', $numbers); 
  
  // Prepare data for POST request
  $data = array('apikey' =&gt; $apiKey, 'numbers' =&gt; $numbers, &quot;sender&quot; =&gt; $sender, &quot;message&quot; =&gt; $message);
  
  // Send the POST request with cURL
  $ch = curl_init('https://api.txtlocal.com/send/');
  curl_setopt($ch, CURLOPT_POST, true);
  curl_setopt($ch, CURLOPT_POSTFIELDS, $data);
  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
  $response = curl_exec($ch);
  curl_close($ch);
  
  // Process your response here
  echo $response;
?&gt;</code></pre>